/* LoginPage.css */
body {
    margin: 0;
    min-height: 100vh;
    background-color: #151750;
    font-family: sans-serif;
    position: relative;  /* Add this */
}

/* Add a new class for the background */
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;  /* Lower z-index for background */
}
.login-page{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.header-login-container {
    flex-grow: 3;

   

   display: flex;
}

/* Make sure login container has a background */
.login-container {
    flex-grow: 1;

    background-color: white;  /* Add this */
    padding: 20px;  /* Add this */
    border-radius: 10px;  /* Optional: for rounded corners */
}
.page-header {
    text-align: center; /* Center-align the text in the header */
    margin-right: 50px; /* Adjust space if needed */
}

.main-heading {
    font-size: 75px; /* Larger font size for "PLANIT" */
    color: white;
    font-weight: bold;
    margin-right: 250px;
    margin-bottom: 10px; /* Reduced margin to decrease space */
    font-family: 'Peace Sans'; /* Heading font */
}

.tagline {
    font-size: 18px; /* Smaller font size for the tagline */
    color: white;
    margin: 0px 250px 10px 0px; /* Reduced top margin */
    font-family: 'glacial indifference';
}

.login-container {
    width: 300px;
}

fieldset {
    background-color: white;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

.login-header {
    text-align: center;
    display: block;
    font-size: 30px;
    color: #151750;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Peace Sans'; /* Heading font */
}

.right-align {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #151750;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white; /* Textbox color changed to white */
    color: #000; /* Text color */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa; /* Light color for placeholder text */
}

input[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: #151750;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s; /* Add transition for smooth effect */
}

input[type="submit"]:hover {
    background-color: #43439d; /* Change background color on hover */
}
